:root{
    --color-blue: #545DFF;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-blue-royal: #030086;
}

body, html{
    margin: 0;
    background: linear-gradient(90deg, #545DFF, #4951E6, #3E45CC, #333AB2);
    background-size: 300% 300%;
    animation: colors 3s ease infinite ;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-white);
}
header{
    background-color: transparent;
}

.nav-main{
    display: flex;
    height: 100;
    background-color: transparent;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
    background-color: var(--color-white);
}

.nav-imgtxt img{
    width: 68px;
}

.nav-imgtxt{
    display: flex;
    align-items: center;
}

.nav-imgtxt label{
    font-size: 18px;
    font-weight: bold;
    color: var(--color-black);
}

.nav-hamb{
    font-size: 40px;
    font-weight: bold;
    color: var(--color-black);
}

.nav-imgtxt{
    display: flex;
}

.nav-mobile{
    display: none;
}

.Brinyts-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.Brinyts-main img{
    margin-top: 30px;
    width: 252px;
}

.Brinyts-main h1{
    color: #FFFFFF;
    margin: 0;
    font-size: 32px;
}

.Brinyts-main p{
    color: #FFFFFF;
    margin: 0;
    font-size: 16px;
}

.Brinyts-main div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seguranca-main{
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seguranca-main div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.seguranca-main h1{
    margin: 30px 0;
}

.seguranca-main p{
    margin: 0 0;
    text-align: center;
}

.seguranca-main img{
    width: 252px;
}

.orca-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orca-main h1{
    margin: 0;
}

.orca-main img{
    width: 300px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input[type="submit"]{
    width: 138px;
    height: 30px;
    background-color: var(--color-blue-royal);
    color: var(--color-white);
    border: none;
    border-radius: 15px;
    margin-bottom: 30px;
}

form div{
    display: flex;
    flex-direction: column;
    width: 240px;
}

textarea{
    width: 250px;
    border-radius: 10px;
    border: none;
}

.input-form{
    border-radius: 10px;
    border: none;
    height: 25px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    height: 120px;
    background-color: var(--color-black);
}

footer img{
    width: 250px;
    margin-bottom: 10px;
}

@keyframes colors {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

@media (min-width: 768px) {
    .nav-hamb{
        display: none;
    }

    .nav-mobile{
        display: flex;
        list-style: none;
    }

    .nav-mobile li{
        margin: 0 15px;
    }

    .nav-mobile a{
        font-size: 20px;
    }

    .nav-mobile a{
        text-decoration: none;
        color: var(--color-black);
        font-weight: 700;
    }

    .Brinyts-main{
        flex-direction: row-reverse;
        justify-content: space-around;
        margin: 150px 0;
    }

    .nav-imgtxt label{
        font-size: 20px;
    }

    .Brinyts-main h1{
        font-size: 48px;
    }

    .Brinyts-main p{
        font-size: 36px;
    }

    .Brinyts-main img{
        width: 300px;
    }

    .seguranca-main{
        flex-direction: row-reverse;
        justify-content: space-evenly;
        margin: 40px 0px;
    }

    .seguranca-main div{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px;
    }

    .seguranca-main h1{
        font-size: 36px; 
    }

    .seguranca-main p{
        font-size: 18px;
    }

    .seguranca-main img{
        width: 300px;
        margin: 0 40px;
    }

    .orca-main{
        flex-direction: row;
        justify-content: space-evenly;
        margin: 40px 150px;
    }

    .orca-txt{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px;
    }

    footer{
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
}

@media (min-width: 1440px) {
    .seguranca-main{
        flex-direction: row-reverse;
        justify-content: space-evenly;
        margin: 40px 150px;
    }
}