:root{
    --color-blue: #545DFF;
    --color-white: #FFFFFF;
    --color-black: #000000;
}

body, html{
    margin: 0;
    background: linear-gradient(90deg, #545DFF, #4951E6, #3E45CC, #333AB2);
    background-size: 300% 300%;
    animation: colors 3s ease infinite ;
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: transparent;
}

.nav-main{
    display: flex;
    height: 100;
    background-color: transparent;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
    background-color: var(--color-white);
}

.nav-imgtxt img{
    width: 68px;
}

.nav-imgtxt{
    display: flex;
    align-items: center;
}

.nav-imgtxt label{
    font-size: 18px;
    font-weight: bold;
    color: var(--color-black);
}

.nav-hamb{
    font-size: 40px;
    font-weight: bold;
    color: var(--color-black);
}

.nav-imgtxt{
    display: flex;
}

.nav-mobile{
    display: none;
}

.Brinyts-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.Brinyts-main img{
    margin-top: 30px;
    width: 252px;
}

.Brinyts-main h1{
    color: #FFFFFF;
    margin: 0;
    font-size: 32px;
}

.Brinyts-main p{
    color: #FFFFFF;
    margin: 0;
    font-size: 16px;
}

@keyframes colors {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}